[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Xquick
[access "refs/for/refs/*"]
	read = group user/Xquick
	push = group user/Xquick
	label-Code-Review = -2..+2 group user/Xquick
	label-Verified = -1..+1 group user/Xquick
	rebase = group user/Xquick
	removeReviewer = group user/Xquick
	submit = group user/Xquick
[access "refs/heads/*"]
	read = group user/Xquick
	create = group user/Xquick
	push = +force group user/Xquick
	pushMerge = group user/Xquick
[access "refs/tags/*"]
	push = group user/Xquick
	push = +force group user/Xquick
