
body {
    font-size: $font-size;

    nav {
        background-color: $primary-color;
        .nav-wrapper {

            .main-menu {

                &__search {
                    width: 300px;
                    margin-bottom: 0;
                    height: 37px;

                    input[type=search] {
                        &,
                        &:focus:not([readonly]) {
                            font-size: $font-default;
                            border-radius: 2px;
                            border: none;
                            box-shadow: none;
                            padding-left: 45px;
                            margin: 0;
                            height: 100%;
                        }
                    }
                }
            }

            .chip {
                background-color: transparent;
                color: white;

                img {
                    border-radius: 3px;
                }
            }

            .dropdown-content {
                box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.62);

                li a {
                    font-size: $font-medium;
                    color: $text-color;

                    i {
                        color: $icon-color;
                    }
                }
            }

            .notification-badge {
                position: absolute;
                bottom: 2px;
                left: 6px;
                color: #ffffff;
                background-color: $alert-color;
                border-radius: 3px;
                padding: 1px 5px;
                height: 17px;
                line-height: 17px;
                box-sizing: border-box;
            }
        }
    }

    .input-field {
        &__static-icon {
            i {
                left: 10px;
                color: $primary-color;
                font-size: $font-large;

                &.prefix.active {
                    color: $primary-color;
                }
            }

            input[type=email],
            input[type=search],
            input[type=text] {
                &,
                &:focus {
                    border-radius: 8px;
                    border: $input-search-border solid $primary-color;
                    margin-left: 0;
                    padding-left: 40px;
                }
            }
        }
    }

    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border-radius: 50%;
        border: 3px solid transparent;
        border-top-color: #3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;
        z-index: 1001;

        &-wrapper {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1000;
        }

        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #e74c3c;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        &:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 3px solid transparent;
            border-top-color: #f9c922;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }

    feed-item {
        &:first-of-type {
            margin-top: 10px;
        }

        &.first-of-date .feed-item:before {
            top: 50%;
            height: 50%;

            .feed-date-content {
                margin-top: 10px;
            }
        }

        &.last-of-date {
            margin-bottom: 40px;
            .feed-item:before {
                bottom: 50%;
                height: 50%;
            }
        }

        &.first-of-date.last-of-date {
            .feed-item:before {
                height: 0;
            }
        }

        .feed-item {
            max-height: $feed-max-height;
            position: relative;

            &:first-child {

            }
            &:not(.new-event):before {
                content: '';
                position: absolute;
                width: 1px;
                background: #e1e1e1;
                margin-right: 10px;
                height: 100%;
            }

            &-time {
                padding: 0 10px;
                font-size: $font-large;
                color: #767676;

                &:before {
                    content: '';
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background: #e0e0e0;
                    display: block;
                    position: absolute;
                    left: -4px;
                    margin-top: 4px;
                }
            }
            img {
                max-height: 100%;
            }

            .card {
                transition: all .3s;
                cursor: pointer;

                &-type {
                    border-right: $border-color;
                    display: flex;
                    align-items: center;
                    padding: 5px;

                    &__sport {
                        background-color: $sport-color;
                    }
                    &__traveling {
                        background-color: $traveling-color;
                    }
                    &__hangout {
                        background-color: $hangout-color;
                    }
                }
                &-title {
                    padding: 10px;
                }
                &-subtitle {
                    padding-left: 10px;

                    i {
                        color: $primary-color;
                        font-size: 20px;
                    }
                }

                &-action {
                    border: none;
                    height: 80px;

                }
            }
        }

        .feed-date {
            height: 40px;

            .feed-date-content {
                height: 40px;
                box-sizing: border-box;
                background: #ececec;
                display: inline-block;
                border-radius: 20px;
                padding: 10px;
                border: 1px solid #e1e1e1;
                font-size: 140%;
                position: relative;
                z-index: 200;

                &.fixed {
                    position: fixed;
                    top: $nav-height +10px;
                    transform: translateX(-50%);
                }
            }
        }
    }

    .new-event {
        position: relative;
        max-height: $feed-max-height;

        &.active {
            z-index: 301;
            max-height: none;
        }
    }
    .card {
        .filter {

        }

        .divider {
            margin-bottom: $margin;
        }

        .card-content {
            &__small-padding {
                padding: 5px 24px;
            }
        }
    }

    .backdrop {
        position: fixed;
        background: rgba(0, 0, 0, 0.53);
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 1;
        visibility: visible;
        border-radius: 0;
        z-index: 300;
    }

    .user-icon {
        border: 1px solid $border-color;
        margin: 3px;
        @include border-radius(3px);

        width: 30px;
        height: 30px;

        img {
            width: 30px;
            height: 30px;
        }

        &.medium,
        &.medium img {
            width: 40px;
            height: 40px;
        }
    }

    .side-filter {
        &.pinned {
        }
        .card-title {
            i {
                color: $primary-color;
            }
        }
    }

    .tag {
        background: #e2e2e2;
        padding: 0 12px;
        border-radius: 15px;
        height: 32px;
        display: inline-block;
        line-height: 32px;
        margin: 3px;
        color: #404040;
        cursor: pointer;
        @include userselect(none);

        &.active {
            background: gray;
            color: white;
        }
    }

    .modal-trigger {
        cursor: pointer;
    }

    sebm-google-map {
        height: 300px;
    }

    main-menu {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 299;
    }

    .side-left {
        min-height: 400px;
    }
}

