input[type="search"] {
    margin-top: 20px;
}

$nav-height: 45px;
$input-search-border: 5px;

body {
    nav {
        height: $nav-height;
        line-height: $nav-height;

        .button-collapse i {
            height: $nav-height;
            line-height: $nav-height;
        }
        .brand-logo {
            font-size: 1.6rem;
        }

        [class^="mdi-"],
        [class*="mdi-"],
        i.material-icons {
            height: $nav-height;
            line-height: $nav-height;
        }
        input[type=search],
        input[type=search]:focus {
            height: $nav-height - 2*$input-search-border;
            min-height: 0;
            margin-bottom: 0;

        }

        .dropdown-content {
            li a {
                i {
                    display: inline-block;
                    vertical-align: -6px;
                    float: none;
                }
            }
        }
    }
    .z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.14),
        0 1px 1px 0 rgba(0, 0, 0, 0.12),
        0 0px 2px -2px rgba(0, 0, 0, 0.2);
    }
    @media only screen and (min-width: 601px) {
        nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
            height: $nav-height;
            line-height: $nav-height;
        }
    }
}