//Dimensions
$radius: 3px;
$menu-width: 70px;
$menu-height: 45px;
$feed-max-height: 130px;

$font-size: 14px;
$font-xlarge: 150%;
$font-mlarge: 135%;
$font-large: 120%;
$font-default: 100%;
$font-medium: 90%;
$font-small: 70%;

$primary-color: #66adee;
$secondary-color: #111111;
$text-color: #2d2d2d;
$icon-color: #848484;

$padding-content: 10px;
$margin: 10px;
$alert-color: red;
$border-color: rgba(160, 160, 160, 0.2);

$sport-color: #ffb358;
$travel-color: #68d02f;
$hangout-color: #c67dff;
