<div #feed fxLayout="row">
    <div fxLayout="column"
         fxFlex="20"
         class="side-left">
        <side-filter class="side-filter pushpin-width-fix"></side-filter>
    </div>

    <div fxLayout="column"
         fxFlex="60"
         class="padding-content">

        <new-event-field></new-event-field>

        <feed-item *ngFor="let feedItem of feedItemList;let i = index;"
                   fxLayout="column"
                   [feedItem]="feedItem"
                   [ngClass]="{
                   'first-of-date':i==0 || feedItemList[i].date !== feedItemList[i-1].date,
                   'last-of-date':i==feedItemList.length-1 || feedItemList[i].date !== feedItemList[i+1].date}"
                   [displayDate]="i==0 || feedItemList[i].date !== feedItemList[i-1].date"></feed-item>
    </div>

    <div fxLayout="column"
         fxFlex="20">
        <side-suggests fxFill></side-suggests>
    </div>
</div>
