<div fxLayout="row" fxFill>
    <div fxLayout="column"
         fxFlex="20"
         class="padding-content">
        <side-filter fxFill class="side-filter"></side-filter>
    </div>

    <div fxLayout="column"
         fxFlex="60"
         class="padding-content">

        <new-event-field></new-event-field>

        <feed-item *ngFor="let feedItem of feedItemList"
                   header="{{feedItem.header}}"
                   imageUrl="{{feedItem.imageUrl}}"
                   [location]="feedItem.location"
                   [userList]="feedItem.userList"
                   type="{{feedItem.type}}"></feed-item>
    </div>

    <div fxLayout="column"
         fxFlex="20"
         class="padding-content">
        <side-suggests fxFill></side-suggests>
    </div>
</div>
