<nav>
    <div class="nav-wrapper container">
        <div class="left height-100" fxFlex fxLayout="row">
            <div class="input-field main-menu__search input-field__static-icon"fxLayout="column" fxFlexAlign="center">
                <i class="mdi mdi-magnify prefix text-gray"></i>
                <input id="search" type="search" class="white lighten-3" />
            </div>
        </div>
        <div class="right height-100">
            <ul class="height-100">
                <li>
                    <a class="waves-effect waves-light transparent wave">
                        <div class="chip">
                            <img [src]="authService.currentUser.imageUrl"
                                 alt="Contact Person">
                            {{authService.currentUser.firstname}}
                        </div>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-light transparent">
                        <i class="material-icons">turned_in_not</i>
                        <small class="notification-badge">2</small>
                    </a>
                </li>
                <li>
                    <a materialize="dropdown" [materializeParams]="[dropdownSetting]"class="waves-effect waves-light dropdown-button transparent" data-activates='main-menu-dropdown'>
                        <i class="material-icons">menu</i>
                    </a>
                    <ul id='main-menu-dropdown' class='dropdown-content'>
                        <li><a>{{'main-menu.profile'|translate}}</a></li>
                        <li class="divider"></li>
                        <li><a><i class="material-icons">cloud</i>{{'main-menu.settings'|translate}}</a></li>
                        <li class="divider"></li>
                        <li><a (click)="logout()"><i class="mdi mdi-logout"></i>{{'main-menu.logout'|translate}}</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
