<div class="feed-item card horizontal new-event clearfix"
     [ngClass]="{'active': isActive}"
     fxFlex="100">

    <div class="card-stacked">
        <span class="card-title">{{'feed.new-event.header'|translate}}</span>
        <span class="card-subtitle" fxLayout="row" fxFlexAlign="start center">
            <user-icon
                    fxFlexAlign="center"
                    className="medium"
                    [imageUrl]="authService.currentUser.imageUrl"></user-icon>
            <input materialize="characterCounter" class="padding-left margin-left no-border" fxFlexAlign="center"
                   id="what-are-you-up-to"
                   (focus)="openNewEventWindow()"
                   [attr.data-length]="titleLengthLimit"
                   [placeholder]="'feed.new-event.what-are-you-up-to' | translate"/>
            <label for="what-are-you-up-to"></label>
        </span>

        <div class="card-content" *ngIf="!!autocompleteInit?.autocompleteOptions">
            <div [hidden]="!isActive">
                <div class="input-field">
                    <i class="material-icons prefix">local_offer</i>
                    <div materialize="material_chip" [materializeParams]="[autocompleteInit]"
                         id="new-event-tags" type="text" class="validate"></div>
                    <label for="new-event-tags">{{'feed.new-event.form.tags.label'|translate}}</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">place</i>
                    <input placeholder="Placeholder" id="new-event-location" type="text" class="validate">
                    <label for="new-event-location">{{'feed.new-event.form.location.label'|translate}}</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">access_time</i>
                    <input materialize="pickadate" type="text" id="new-event-datetime" class="timepicker">
                    <label for="new-event-datetime">{{'feed.new-event.form.datetime.label'|translate}}</label>
                </div>
                <button class="btn right">{{'feed.new-event.submit'| translate}}</button>
            </div>
        </div>
    </div>
</div>
<div class="backdrop" (click)="closeNewEventWindow()" *ngIf="isActive"></div>
